<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Password Change</title>

	<link rel="stylesheet" href="./css/ForgetCSS.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" >
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email" id="email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" id="password">
				</div>
				<span id="msg" style="color: red;margin-left: 20px;display: inline-block;width: 130px;height: 50px;"></span>
				<button class="button login__submit"  id="submit">
					<span class="button__text">Change Password</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<!-- partial -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script>
	  const socket =io();
	  const msg = document.getElementById("msg");
	  $("#submit").click((event)=>{
	  const email = document.getElementById("email").value;
	  const pass = document.getElementById("password").value;
		  event.preventDefault();
		 socket.emit("PassChange",{email,pass});
	  });
	  socket.on("PassResponse",(data)=>{

		  if(data == "User not found" && data !="Password is Same as Previous"){
			  alert("Password Changed");
			  window.location.href = "/";
		  }
		  else{
			  msg.innerHTML = data;
		  }
	  });
</script>
</body>
</html>
