@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*portolio*-----------------------------------------------*/

.fillter-buttons {
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.fillter-buttons .btn:hover {
    color: var(--hover-color);
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.port-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-img img {
    width: 100%;
    border-radius: 15px;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* background: linear-gradient(rgba(0, 0, 0, .2), #12f7ff); */
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-img img {
    transform: scale(1.1);
}

.port-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    width: 200px;
    height: 200px;
}

.port-content p {
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a {
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.port-content a i {
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

.port-content .ig {
    margin-top: 100px;
}


/*keyframes*---------------------------------------*/

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 50% 60%;
    }
    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 72%;
    }
}

@keyframes cp {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 62%;
    }
}

@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: var(--neon-box-shadow);
    }
    100% {
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}