<div class="main">
    <div class="navbar"></div>
    <div class="content">
        <h1 class="sid"><span>Indian</span> <br>Voting<br><span style="color: green;">System</span> </h1>
        <div class="form">
            <h2>SignIn Here</h2>
            <input type="email" id="email" placeholder="Enter Email Here"><br>
            <input type="password" id="password" placeholder="Enter Password Here"><br>
            <input type="password" id="confirm-password" placeholder="Confirm Password"><br>
            <input type="text" id="state" placeholder="Enter Your State"><br>
            <input type="text" id="constituency" placeholder="Enter Your Constituency"><br>
            <input type="text" id="voter-id" placeholder="Enter Your VoterID"><br>
            <input type="text" id="address" placeholder="Enter Your Address"><br>
            <input type="text" id="pincode" placeholder="Enter Your Pincode"><br>
            <span id="msg" style="font-size: 20px;margin-left: 27%;"></span><br>
            <button class="btnn" type="submit" id="submit">SignIn</button><br>
            <p class="link">Already have an Account
                <a routerLink="/login">Log in</a> here
            </p>
        </div>
    </div>
</div>
